body {
    background: rgb(34, 193, 195);
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 60%);
    color: #E9ECEF;

}

ul {
    margin-bottom: 4rem;
}

ul li {
    list-style: none;
    padding: 1rem;

}

.btnAdd {
    border-radius: 1.5rem;
    position: absolute;
    transform: translateX(165px);
    transform: translateY(-55px);
    left: 475px;
    background-color:#E9ECEF;
    color: rgb(34, 193, 195);;
}